<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://notesapiservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>notesapiservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NotesAPIService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$NotesAPIService</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=syncdbserver.database.windows.net;Initial Catalog=appDB;Persist Security Info=True;User ID=jazzyg@syncdbserver.database.windows.net;Password=Azured3mon@12" Name="Data Source=syncdbserver.database.windows.net;Initial Catalog=appDB;Persist Security Info=True;User ID=jazzyg@syncdbserver.database.windows.net;Password=Azured3mon@12;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="NotesAPIService.Models.ApplicationDbContext, NotesAPIService" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="NotesAPIServiceContext" Order="2" Enabled="False">
          <Destination Path="Data Source=syncdbserver.database.windows.net;Initial Catalog=appDB;Persist Security Info=True;User ID=jazzyg@syncdbserver.database.windows.net;Password=Azured3mon@12" Name="Data Source=syncdbserver.database.windows.net;Initial Catalog=appDB;Persist Security Info=True;User ID=jazzyg@syncdbserver.database.windows.net;Password=Azured3mon@12;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="NotesAPIService.Models.NotesAPIServiceContext, NotesAPIService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=syncdbserver.database.windows.net;Initial Catalog=appDB;Persist Security Info=True;User ID=jazzyg@syncdbserver.database.windows.net;Password=Azured3mon@12;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NotesAPIServiceContext-Web.config Connection String">
      <ParameterValue>Data Source=syncdbserver.database.windows.net;Initial Catalog=appDB;Persist Security Info=True;User ID=jazzyg@syncdbserver.database.windows.net;Password=Azured3mon@12;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>